

.CountryforBlog{
    display: block;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.76);
    text-align: center;
    width: 50%;
}

@media (max-width: 414px) {
    .Country{
        width: 100%;
    }
    .text{
    font-size:.90em;
      
    }
}