
.CountryBlogLanding{
    height: 300px;
    width: 80%;
    margin: 0 auto;
    background: no-repeat;
    background-position: center;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}