
.background{
    background-image: url('https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}


.outer{
   color: rgba(25, 88, 206, 0.836);
   border: 6px rgba(25, 88, 206, 0.836);
   text-align: center;
   border-height: 2em;
   background-color: rgba(211, 211, 211, 0.411);
   font-size: 5em;
   position:absolute;
   width:100%;
   top:15%;
   margin:auto
}

.inner{
   color:black;
   border: 6px rgba(25, 88, 206, 0.836);
   text-align: center;
   border-height: 2em;
   background-color: rgba(211, 211, 211, 0.411);
   font-size: .35em;
   position:absolute;
   width:100%;
   top:100%;
   margin:auto;
}

@media screen and (max-width: 414px) {
    .background{
        width:100%;
    }

    .outer{
        font-size: 4em;

    }
    .inner{
        font-size: .3em;
    }
}


/* .greeting{
    padding-top: 20%;
    text-align: center;
    border-bottom: 3px solid rgba(25, 88, 206, 0.836);
    background-color: rgba(211, 211, 211, 0.274);
  
} */















/* .CountryBlogLanding{
    height: 300px;
    width: 80%;
    margin: 0 auto;
    background: no-repeat;
    background-position: center;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */